# 配置相关
**.yaml
**.yaml.bak

# Python 虚拟环境
.venv/

# 日志相关
**.log

# 测试相关
tests/**

# 缓存相关
**/__pycache__/**
.ccb/
.claude/
.ccb-tmp-tests/
.ccb-tmp-tests-titlebar/
bash.exe.stackdump
ccb

# 火山引擎protobuf相关
**/python_protogen/**

# 打包相关
**.spec
**/build/**
**/dist/**
bundle/
src-tauri/_bundle
src-tauri/target/
node_modules/
